<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputScript library="js" name="Locale.js"/>
    
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Turfe - Gerenciador</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="200" header="Cadastrar" style="background-color: black">
                       <f:view> Cadastre aqui os funcionários: <br /><br /></f:view>
                    <h:form>
                         <h:outputText value="Nome Funcionário "/>
                        <h:inputText value="#{funcionarioController.funcionario.nome}" id="nome" />

                        <h:outputText value="RG: "/>
                        <h:inputText value="#{funcionarioController.funcionario.RG}" id="RG" />
                        
                         <h:outputText value="CPF "/>
                        <h:inputText value="#{funcionarioController.funcionario.CPF}" id="CPF" />
                        
                        <h:outputText value="Telefone "/>
                        <h:inputText value="#{funcionarioController.funcionario.telefone}" id="telefone" />

                        <h:outputText value="Placa do Carro "/>
                        <h:inputText value="#{funcionarioController.funcionario.placaCarro}" id="placaCarro" />

                          <h:outputText value="email"/>
                        <h:inputText value="#{funcionarioController.funcionario.email}" id="email" />
                        
                        <h:outputText value="senha"/>
                        <h:inputText value="#{funcionarioController.funcionario.senha}" id="senha" />
                        
                        <h:outputText value="salario"/>
                        <h:inputText value="#{funcionarioController.funcionario.salario}" id="salario" />     
                        
                        <h:commandButton type="submit" value="Cadastrar cavalo" action="#{funcionarioController.salvar}" />
                    </h:form> 
                </p:layoutUnit>
                 <p:layoutUnit position="center" size ="150" style="color:red">
                     <center> <f:view>  <h:link outcome="index" value="Voltar" /></f:view>    </center>
                </p:layoutUnit>
            </p:layout>
        </h:body>

    </f:view>
</html>

