<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
             <p:layout fullPage="true">
                <p:layoutUnit position="north" size="230" header="Cadastrar" style="background-color: black">
                    <f:view> Cadastre aqui os clientes:  <br /><br /></f:view>
                <f:view>
                    <h:form>
                        <p:selectOneMenu id="console" value="#{hospedagemController.hospedagem.teste}" style="width:125px">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Normal" itemValue="normal" />
                            <f:selectItem itemLabel="Suíte" itemValue="suite" />
                        </p:selectOneMenu>

                        <h:outputText value="RG: "/>
                        <h:inputText value="#{hospedagemController.hospedagem.estacionamento}" id="estacionamento" />
 
                        <h:commandButton type="submit" value="Cadastrar cavalo" action="#{funcionarioController.salvar}" />
                    </h:form>
                        
                 </f:view>  
                </p:layoutUnit>
                 <p:layoutUnit position="center" size ="150" style="color:red">
                     <center> <f:view>  <h:link outcome="index" value="Voltar" /></f:view>    </center>
                </p:layoutUnit>
            </p:layout>
        

            
      
    </h:body>
</html>

