<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bem vindo ao Hotel Estada Feliz!</title>
    </h:head><center>
        <h:body>

        <p:layout fullPage="true">
         <p:layoutUnit position="center">
             
            <h:outputText value="Faça Login no Hotel Estada Feliz!"/>
             
            <f:view>
                <br /><br />
                 <h:form>
            <p:messages id="messages" />
            <p:panelGrid columns="2">
                  <p:outputLabel for="email" value="Nome Usuário:" />
                  <p:inputText id="email" value="#{clienteController.cliente.email}" />
                   
                  <p:outputLabel for="senha" value="Senha:" />
                  <p:password id="senha" value="#{clienteController.cliente.senha}" />
                   
                  <p:commandButton value="Enviar" icon="ui-icon-star" action="#{clienteController.envia}" ajax="false">
                  </p:commandButton>
                  
                  <h:link outcome="CadastroCliente" value="Não possui login? Cadastre-se!" />
                  <h:link outcome="CadastroFuncionario" value="Funcionario!" />
  
            </p:panelGrid>
      </h:form>

             </f:view>
         </p:layoutUnit>
        </p:layout>
    </h:body></center>
</html>


