<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

         <h:body>

            <p:layout fullPage="true">

                 <p:layoutUnit position="north" size="280" header="Listar Cavalos" style="background-color: black">
                    <h:form>
                        <p:dataList value="#{cavaloController.listarTodos()}" var="cavalo" type="unordered" itemType="none" paginator="true" rows="5" styleClass="paginated">
                              <h:outputText value="#{cavalo.nome}, #{cavalo.raca}" style="display:inline-block"/>
                        </p:dataList>
                      
                    </h:form> 
                </p:layoutUnit>


                <p:layoutUnit position="center" size="200" header="Listar Corredores" style="background-color: black">
                    <h:form>
                        <p:dataList value="#{corredorController.listarTodos()}"  var="corredor" type="unordered" itemType="none" paginator="true" rows="5" styleClass="paginated">
                            <h:outputText value="#{corredor.nome}, #{corredor.alcunha}" style="display:inline-block"/>
                        </p:dataList>                      
                    </h:form> 
                </p:layoutUnit>
                 <p:layoutUnit position="south" size ="100" style="color:red">
                     <center> <f:view>  <h:link outcome="index" value="Voltar" /></f:view>    </center>
                </p:layoutUnit>
                
            </p:layout>
            
        </h:body>
    </f:view>
     #{facadeTeste.implementFacade()}
</html>
        
        

